/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	/* Background */
	background-color: #1F1329;

	/* Font */
	color: white;
	font-family: 'Space Mono', monospace;
}

.module{
	/* Background */
	margin: auto;
	padding-bottom: 2rem;
	background: linear-gradient(152.52deg, #423245 7.97%, #5C4175 105.87%);
	width: 80%;
	filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.5));
	border-radius: 50px;

}

.header {
	/* Positioning */
	position: relative;
	padding: 1rem 0 1rem 0;
	text-align: center;

	/* Font */
	font-weight: 700;
	font-size: 2em;
	text-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.8);

	/* Background*/
	background: linear-gradient(91.54deg, #FFC582 -8.62%, #E9677E 61.45%, #A263C0 104.75%);
	border-radius: 50px 50px 0px 0px;
}

/* .main-body {
	/* Positioning */
	/* position: relative;
	margin: 20px 10% 20px 10%;
} */

h3.field-label {
	/* Font */
	font-weight: 700;
	font-size: 1rem;
	text-shadow: 0px 0px 10px #FFFFFF;
}

p.field-contents {
	/* Font */
	font-weight: 700;
	font-size: 18px;
	line-height: 8px;
}
button{
	font-weight: 1em;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 12pt;
	margin-top: 2vh;
	border-radius: 0.5em;
}

button:hover {
	cursor: pointer;
}

#footer {
	/* Positioning */
	position: relative;
	text-align: center;
}

a.logout {
	/* Font */
	font-weight: 700;
	font-style: italic;
	color: #9665BA;
	font-size: 2rem;
}

#user-points {
	/* Positioning */
	position: relative;
	text-align: center;

	/* Font */
	font-family: 'Alfa Slab One', sans-serif;
	font-size: 50pt;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

/* Style modification here applies to the largest screen size (desktop view) */
@media (min-width: 1025px) {

	html {
		/* Temporary: for visualing the current view */
		background-color: blue;
		height:100vh;
	}
	.module{
		margin-top: 3rem;
		width: 50%;

	}
	.header{
		font-size: 2rem;
		margin-bottom: 1em;
	}
	.main-body{
		margin-left: 2rem;
		margin-right: 2rem;
		text-align: center;
		margin-top: 3rem;
		padding: 5%;
	}
	input{
		margin-top: 1em;
		font-size:1em;
		margin-bottom: 1em;
	}
	label.fieldlabel{
		font-size: 4em;
	}
	button{
		margin-top: 1em;
		font-size: 2rem;
	}

}

/* Style modification here applies to the medium screen size (tablet view) */
@media (min-width: 781px) and (max-width: 1024px) {

	html {
		/* Temporary: for visualing the current view */
		background-color: red;
		height:100vh;
	}
	.header{
		margin-top: 5%;
		font-size: 2.5rem;
		margin-bottom: 1em;
	}
	.main-body{
		margin-left: 2rem;
		margin-right: 2rem;
		text-align: center;
	}
	input{
		margin-top: 1em;
		margin-bottom: 1em;
		font-size:2rem;
	}
	#user-points{
		font-size: 6em;
	}
	p.field-contents{
		font-size: 2rem;
		margin-bottom: 2em;
	}
	h3.field-label{
		font-size: 3rem;
	}
	label.field-label{
		font-size: 3rem;
	}
	button {
		font-size: 2em;
	}

}
/* Style modification here applies to the smaller screen size (mobile view) */
@media (max-width: 780px) {

	.header{
		font-size: 4vi;
	}
	input{
		font-size: 3vi;
	}
	label.field-label{
		font-size: 3vi;
	}
	
}