/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	/* Background */
	background-color: #1F1329;

	/* Font */
	color: white;
	font-family: 'Space Mono', monospace;
}

.module {
	/* Background */
	margin: auto;
	padding-bottom: 2rem;
	width: 80%;
	background: linear-gradient(152.52deg, #423245 7.97%, #5C4175 105.87%);
	filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.5));
	border-radius: 50px;

}

.header {
	/* Positioning */
	position: relative;
	padding: 1rem 0 1rem 0;
	text-align: center;

	/* Font */
	font-weight: 700;
	font-size: 1rem;
	text-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.8);

	/* Background*/
	background: linear-gradient(91.54deg, #FFC582 -8.62%, #E9677E 61.45%, #A263C0 104.75%);
	border-radius: 50px 50px 0px 0px;
}

/* .main-body {
	/* Positioning */
	/* position: relative;
	margin: 20px 10% 20px 10%;
} */ */

h3.field-label {
	/* Font */
	font-weight: 700;
	font-size: 1rem;
	text-shadow: 0px 0px 10px #FFFFFF;
}

p.field-contents {
	/* Font */
	font-weight: 700;
	font-size: 18px;
	line-height: 8px;
}
.button{
	font-weight: 1em;
	padding: 1em 2em;
	text-align: center;
	font-size: 12pt;
	margin-top: 2vh;
	border-radius: 0.5em;
}

button:hover {
	cursor: pointer;
}
body{
	background: rgb(0, 0, 0);
	padding: 2em;
	margin: 30vh;
	border-radius: 0.5em;
}

#footer {
	/* Positioning */
	position: relative;
	text-align: center;
}

#logout {
	/* Font */
	font-weight: 700;
	font-style: italic;
	color: #9665BA;
}

#user-points {
	/* Positioning */
	position: relative;
	padding: 10px;
	text-align: center;

	/* Font */
	font-family: 'Alfa Slab One', sans-serif;
	font-size: 50pt;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

/* Style modification here applies to the largest screen size (desktop view) */
@media (min-width: 992px) {

	html {
		/* Temporary: for visualing the current view */
		background-color: blue;
		height:100vh;
	}
	header{
		font-size: 2rem;
	}
	body{
		margin-left: 2rem;
		margin-right: 2rem;
		font-size: 3rem;
		text-align: center;
		margin-top: 3rem;
		padding: 5%;
	}
	button{
		font-size: 3rem;
	}
	input{
		font-size:1em;
	}

}

/* Style modification here applies to the medium screen size (tablet view) */
@media (min-width: 769px) and (max-width: 991px) {

	html {
		/* Temporary: for visualing the current view */
		background-color: red;
		height:100vh;
	}
	header{
		font-size: 2rem;
	}
	body{
		margin-top: 50%;
		margin-left: 2rem;
		margin-right: 2rem;
		font-size: 3rem;
		text-align: center;
	}
	button{
		font-size: 2rem;
	}
	input{
		font-size:1em;
	}

}
