<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

	<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/ajax.js') }}" defer></script>

	<div class="module">
		
		<div class="header">
			<p>HACKERPASS</p>
		</div>

		<div class="main-body">

			<!-- Number of points the user currently has -->
			<div id="user-points">{{ current_user.points }}</div>

			<h3 class="field-label">HACKER NAME</h3>
			{% if current_user.name != None %}
				<p class="field-contents" id="user-name">{{ current_user.name }}</p>
			{% else %}
				<p class="field-contents" id="user-name">Name not set.</p>
			{% endif %}

			<h3 class="field-label">E-MAIL</h3>
			{% if current_user.email != None %}
				<p class="field-contents" id="user-email">{{ current_user.email }}</p>
			{% else %}
				<p class="field-contents" id="user-email">Email not set.</p>
			{% endif %}

			<p id="footer"><a id="logout" href="/logout">Log Out</a></p>

			<!-- TEMPORARY: Hiding update forms

			<form id="user-update-name">
				<input type="text" id="user-update-name-field" name="name" placeholder="Name">
				<input type="submit" value="✓">
			</form>

			<form id="user-update-email">
				<input type="email" id="user-update-email-field" name="email" placeholder="Email">
				<input type="submit" value="✓">
			</form>

			-->

		</div>

	</div>

</body>
